<div class="text-white">
    <div class="col-md-12 p-0">
        {{> home/home-nav}}
        <h1>Портфоліо</h1>
        <!--<img class="shadow-section" src="/uploads/img/inner-bgV2.jpg" style="width: 100%" alt="">-->
    </div>
</div>