<div class="text-white">
    <div class="col-md-12 p-0">
        {{> home/home-nav}}
        <!--<img class="shadow-section" src="/uploads/img/inner-bgV2.jpg" style="width: 100%" alt="">-->
        {{>home/portfolio}}
    </div>
</div>